# ==========================================
# ⚙️ CONFIGURAÇÕES DO BANCO DE DADOS
# ==========================================
DB_USER=postegre
DB_PASSWORD=db_passord_example
DB_HOST=db_host_example
DB_PORT=db_port_example
DB_NAME=db_name_example

# ==========================================
# 🧠 INTEGRAÇÃO DE INTELIGÊNCIA ARTIFICIAL
# ==========================================
GEMINI_API_KEY=insira_sua_chave_da_google_aqui
AUDIO_UPLOAD_DIR=uploads/audio
