# Dono padrão do repositório
* @vs0808

# Front-end
/frontend/ @usuario-front-1 @usuario-front-2

# Back-end
/backend/ @usuario-back-1 @usuario-back-2

# Configurações críticas
/.github/ @vs0808
/docs/ @vs0808
